.a{
    
        /* color: blue;
        background-color: red; */

    
}
#i{
    color: aqua;
    background-color: yellow;
}
body{
      background-image: "C:\Users\Student\OneDrive - Noida Institute of Engineering and Technology\Web Technology\Class Work Program\.jpg";
        background-size: 2500px,1440px;
     }
